/* Fichier CSS à personnaliser */
body {
    background: linear-gradient(90deg, purple, orange);

}
h1 {
    text-align: center;
    color: black;
    background-color: purple;
  }
  
.special {
    color: orange;
    background-color: navy;
    border: solid black;
  }

.souligne {
    text-decoration: underline red;
}

#bloc1 {
    border: 5px solid purple;
    width: 40%;
    background-color: green;
    color: white;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }